/* css Zen Garden default style v1.02 */
/* css released under Creative Commons License - http://creativecommons.org/licenses/by-nc-sa/1.0/  */

/* This file based on 'Tranquille' by Dave Shea */
/* You may use this file as a foundation for any new work, but you may find it easier to start from scratch. */
/* Not all elements are defined in this file, so you'll most likely want to refer to the xhtml as well. */

/* Your images should be linked as if the CSS file sits in the same folder as the images. ie. no paths. */


/* basic elements */
:root{
	--sec: #fff;
	--main: #000;
	--trd: #ff9900;
	--text: #919191;
	font-size: 22px;
	font-family: "Arial";
}

a {
	color: var(--trd);
	text-decoration: none;
}

html {
	margin: 50px;
	padding: 0;
	background-color: var(--main);
	color: var(--text);
}

.intro > :nth-child(1) {
	background-color: var(--trd);
	color: var(--main);
	padding: 5px;
}
.intro > :nth-child(1) {
	border-radius: 15px;
	display: flex;
	padding: 10px;
}
.intro > :nth-child(1) > :last-child {
	color: var(--main);
	text-align: end;
}
.intro > :nth-child(1) > :first-child {
    flex: 20%;
}
.preamble > :nth-child(1), .explanation > :nth-child(1), .participation > :nth-child(1), .benefits > :nth-child(1), .requirements :nth-child(1), .select, .archives, .resources{
	color: var(--trd);
}

.page-wrapper{
	width: 80%;
	margin: auto;
}

.wrapper {
	display: flex;
}
.wrapper * {
	flex: 1;
}